<style>
    h1{
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}
    h2{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
    p{
    font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
    .rubik {
    font-family: "Rubik Wet Paint", system-ui;
  font-weight: 400;
  font-style: normal;
}
    .tiny {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}
    .dancing {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
